body{
    background-color: #ac0f7f; /*new - #ac0f7f; old - #DD11A4*/
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 35px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#calculator{
    flex: 0 0 auto;
    width: 380px;
    min-height: 610px;
    background-color: #C7CA4C;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px 10px rgba(0,0,0,0.25);

}

#display{
    width: 300px;
    min-height: 120px;
    background-color:#19D7C4;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.25);
    margin-bottom: 30px;
    padding: 20px;
    box-sizing: border-box;
}

#lower,#upper{
    text-align: right;
    word-break: break-all;
}

#lower{
    min-height: 40px;
    font-size: 30px;
}

#upper{
    min-height: 30px;
    font-size: 20px;
    margin-bottom: 10px;
}

.buttons{
    width: 300px;
    height: 380px;
    display: flex;
    justify-content: space-between;
}

.buttons-column{
    flex: 0 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button{
    flex: 0 0 auto;
    width: 60px;
    height: 60px;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.25);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.number{
    border-radius: 50%;
    background-color: #19D7C4;
}

.operation{
    background-color: #DD11A4;
}

#all-clear{
    background-color: #DF5151;
    font-size: 30px;
}

#backspace{
    background-color:#6265B1;
}

.operation,#all-clear,#backspace{
    border-radius: 10px;
}

.button:hover{
    filter: brightness(0.7);
}

.click{
    filter: brightness(0.7);
    box-shadow: 0 0 0 0 transparent;
    left: 3px;
    top: 3px;
}




